body {
	padding: 3px;
}

body .top {
	padding: 5px;
}

.scrolling {
	overflow: scroll;
	width: 100%;
	height: 500px;
}

.footer {
	min-height: 50px;
	margin-top: 10px;
}

.left-mar15 {
	padding-left: 15px;
	content: ' ';
}

